@import "../../css/main.styl"

html, body
    padding 0
    margin 0
    background #000000
    color #ff0000

#main
    position fixed
    top 0
    left 0
    width 100vw
    height 100vh
    user-select none
    pointer-events none
    -webkit-touch-callout none
    canvas
        user-select none
        pointer-events none
        -webkit-touch-callout none
