doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='Content-Type',content='text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')
    title Interactive Poetry. By santiago.
    link(rel='stylesheet' href='../css/main.styl')
  body
    //- a( href = '/twentyfour.html' ) 24h is not enough
    //- a( href = '/not-united.html' ) U?S.A.
    //- a( href = '/yesnoyesno.html' ) Y-N
    //- a( href = '/ats.html' ) Always the same
    //- a( href = '/ghost.html' ) Ghost
    //- a( href = '/1st.html' ) 1st
    script(src='../js/main.js')
