doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='Content-Type',content='text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')
    title Scrollers
    link(rel='stylesheet' href='../snippets/tunnel/main.styl')
  body
    #main
    .scroller
      .wrapper
        .element 1
        .element 2
        .element 3
        .element 4
        .element 1
        .element 2
        .element 3
        .element 4
    #legend Tunnel
    script(src='../snippets/tunnel/index.js')
